*{
    box-sizing: border-box;
    margin: 0, auto;
}
body{
    background-color: #70877f;
}

.home{
    margin-bottom :40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

