.image {
  display: flex;
  justify-content: center;
}

.winnerLine{
    display:inline-block
}
.soloButton{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 480px) {
  .choice img{
      max-width: 300px;
  }
  .winner {
    background-color: #4F6D7A;
    padding: 20px;
    border-radius: 10px;
    color:white;
    font-size: 12px
  }

}
@media screen and (min-width: 600px) {
  .winner {
    background-color: #4F6D7A;
    padding: 20px;
    border-radius: 10px;
    color:white;
    font-size: 16px
  }
 
}
@media screen and (min-width: 800px) {
  .winner {
    background-color: #4F6D7A;
    padding: 20px;
    border-radius: 10px;
    color:white;
    font-size: 18px
  }
}

.winner {
  background-color: #4F6D7A;
  padding: 20px;
  border-radius: 10px;
  color:white;
  font-size: 20px
}